{% extends 'layouts/admin.html.twig' %}

 {% block subtitle %}
     <h1>
         新建用户
         <small>User creation</small>
     </h1>
 {% endblock subtitle %}

 {% block breadcrumb %}
     <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> 用户管理</a></li>
         <li class="active">新建用户</li>
     </ol>
 {% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
